:host ::ng-deep {
    display: block;
    height: inherit;
    width: inherit;

    .cardContainer {
        height: 100;
        width: 150;
        display: block;

        .name {
            font-size: 24px;
        }

        label {
            display: block;
            text-align: center;
            font-size: 20px;
            margin-top: 4px;
            margin-bottom: 8px;
        }
    }
}