.directed-graph {
  user-select: none;
  
  .edge {
    stroke: #666;
    fill: none;

    .edge-label {
      stroke: none;
      font-size: 12px;
      fill: #ffffff;
    }
  }

  .panning-rect {
    fill: rgba(0,0,0,0);
    cursor: move;
  }

  .node-group {
    // transition: 0.5s ease-in-out;

    .node {
      &:focus {
        outline: none;
      }
    }
  }
}
