.graph {
  user-select: none; }
  .graph .edge {
    stroke: #666;
    fill: none; }
    .graph .edge .edge-label {
      stroke: none;
      font-size: 12px;
      fill: #ffffff; }
  .graph .panning-rect {
    fill: transparent;
    cursor: move; }
  .graph .node-group .node:focus {
    outline: none; }
